@font-face {
  font-family: "iconfont"; /* Project id 4494691 */
  src: url('//at.alicdn.com/t/c/font_4494691_ip7x27fspml.woff2?t=1712313793377') format('woff2'),
       url('//at.alicdn.com/t/c/font_4494691_ip7x27fspml.woff?t=1712313793377') format('woff'),
       url('//at.alicdn.com/t/c/font_4494691_ip7x27fspml.ttf?t=1712313793377') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaolian:before {
  content: "\ec80";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-at:before {
  content: "\e81e";
}

.icon-icon:before {
  content: "\e698";
}

.icon-fenxiang:before {
  content: "\e7c5";
}

.icon-fanhui:before {
  content: "\e61e";
}

.icon-jiazai:before {
  content: "\e607";
}

.icon-liebiao:before {
  content: "\e601";
}

.icon-shoucang:before {
  content: "\e655";
}

.icon-shoucangfill:before {
  content: "\e627";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-aixin:before {
  content: "\e85c";
}

.icon-pinglun:before {
  content: "\e614";
}

.icon-aixin1:before {
  content: "\e8ab";
}

.icon-jia:before {
  content: "\e600";
}
